@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --text-responsive : clamp(0.5rem, 2vw + 0.7rem, 2.5rem);
    --text-responsive-lg : clamp(1.5rem, 2vw + 4.5rem, 10.5rem);
    --text-responsive-xl : clamp(1.5rem, 2vw + 5.5rem, 10.5rem);
    

    --breakpoint-*: initial;
    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

}

@layer components {
    .px-container {
        padding-inline: 0.75rem;
        @variant tablet {
            padding-inline : 3.5rem;
        }
        @variant desktop {
            padding-inline : 5rem;
        }
    }
    .container-content {
        margin-inline: auto;
        max-width: 1280px;
    }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-responsive);
}
