@import "tailwindcss";

:root {
  --primary-sky-blue : #72E2FF;
  --primary-brown : #EF9747;
  --primary-yellow : #FFC900;
  --primary-purple : #FF57B4;
}

@theme inline {
  --color-primary-sky-blue: var(--primary-sky-blue);
  --color-primary-brown: var(--primary-brown);
  --color-primary-yellow: var(--primary-yellow);
  --color-primary-purple: var(--primary-purple);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--primary-brown);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
